body {
    background-color: #2f0d43;
    color: #ebdddd;
    font-family:'Times New Roman', Times, serif

}
h1{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}

header {
    background-color: #36012d;
    padding:5px;
    text-align: center;
    border-radius:100px;
}

.containerartigos {
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: #4b2323;
    padding: 20px;
    border-radius: 90px;
}

.imagens {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 30px;
    
}

.imagens img {
    width: 180px;
    height: 180px;
    border-radius: 15px;
    border: 2px solid #d51f1f;
}

footer {
    text-align: center;
}