body {
    background-color: #000000;
    color: #ebdddd;
    font-family:'Times New Roman', Times, serif;
}

.vertical{
    background-color: black;
    padding-bottom: 100px;
    
   
}
 header {
    background-color: #ff00d4;
    padding:1px;
    text-align: center;
    border-radius:px;
}

 article {
    gap: 30px;
    padding: 20px;
    border-radius: 90px;
}